.nav > li > a.pair-first {padding-right:5px;}
.nav > li > a.pair-second {padding-left:0;}
.bg-success {background-color: #ccffbb; border:1px solid #cccccc;}
.bg-danger {background-color: #ffbbcc; border:1px solid #cccccc;}
.bg-info {background-color: #ddeeff; border:1px solid #cccccc;}
.highlight {padding:0.5em; background-color:#dff0d8;}
.table-break-words {table-layout:fixed; width:100%;}
.td-break-words {word-wrap: break-word;}
code {background:none; padding:0;}

// below CSS prevents default Bootstrap navbar collapse on narrow screens

.navbar-collapse.collapse { display: block!important; }
.navbar-nav>li, .navbar-nav { float: left !important; }
.navbar-nav.navbar-right:last-child {margin-right: -15px !important;}
.navbar-right {float: right!important;}
header {border-top: 5px solid #0DAE8E;}
header .logo {max-width: 140px; margin-bottom: 10px;}
.footer-copyright {background-color: #222222;;  padding: 20px 0 20px 0;}
.footer-copyright img.footer-logo {max-width: 120px; vertical-align: bottom; display: inline-block;}
footer, footer a:link, footer a:visited {color: #fff;}
.copyright {padding-right: 35px;}
.mt35 {margin-top: 25px;}
